@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --very-dark-megenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    --line-height: 1.4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: var(--line-height);
    background-color: var(--white);
    background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-size: 600px 300px, 900px 650px;
    background-position: 0% 0%, 100% 100%;
}

main {
    background-color: transparent;
    min-height: 100vh;
    max-width: 1000px;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.upper-section {
    display: flex;
    justify-content: space-between;
    
    gap: 48px;
}

.intro {
    flex: 1;
}

.rates {
    flex: 1;
    direction: rtl;
}

h1 {
    color: var(--very-dark-megenta);
    font-weight: 700;
    font-size: 52px;
    line-height: 0.8;
    margin-bottom: 16px;
    max-width:400px;
}

.intro p {
    color: var(--dark-grayish-magenta);
    font-weight: 500;
    max-width: 400px;
}

.rates__one, .rates__two, .rates__three {
    direction: ltr;
    padding: 12px 18px;
    margin-bottom: 12px;
    background-color: var(--light-grayish-magenta);
    max-width: 350px;
    color: var(--very-dark-megenta);
    font-weight: 700;
    border-radius: 6px;
}

.rates img {
    width: 12px;
}

.rates img:last-child {
    margin-right: 12px;
}

.rates__one {
    margin-right: 100px;
}

.rates__two {
    margin-right: 50px;
}


.lower-section {
    display: flex;
    gap: 30px;
    
    
}

.card {
    background-color: var(--very-dark-megenta);
    flex: 1;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    color: var(--white);
    border-radius: 12px;
}

.profile {
    display: flex;
    gap: 18px;
    align-self: flex-start;
}

.profile img {
    max-width: 36px;
    border-radius: 50%;
}

h2 {
    font-size: 15px;
    font-weight: 500;
}

.profile p {
    color: var(--soft-pink);
}

.statement {
    color: var(--light-grayish-magenta);
}

.card:nth-child(2) {
    position: relative;
    top: 18px;
}

.card:nth-child(3) {
    position: relative;
    top: 36px;
}

@media (max-width: 1060px) {
    main {
        max-width: 800px;
    }
}

@media (max-width: 860px) {
    body {
        background-image: url("images/bg-pattern-top-mobile.svg");
        background-repeat: no-repeat;
        background-position: 100% 0%;
    }
    
    main {
        max-width: 80%;
        align-items: center;
        margin: 64px auto;
    }

    .upper-section {
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        text-align: center;
        font-size: 40px;
    }

    .intro p {
        text-align: center;
    }

    .rates {
        direction: ltr;
    }

    .rates__one, .rates__two {
        margin-right: 0;
    }

    .rates__one, .rates__two, .rates__three {
        text-align: center;
    }

    span {
        display: block;
    }

    .rates img {
        width: 18px;
    }

    .lower-section {
        flex-direction: column;
        gap: 4px;
        margin: 0;
        padding: 0;
    }

    .card {
        position: static;
    }
}